.book-intro {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}


.book-intro > img {
    margin-left: 10vw;
    margin-right: 10vw;
}

.book-description {
    display: flex;
    flex-direction: column;
}

.book-description > p {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.recent-reviews {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.review-section {
    background-color: #F8F8ED;
    padding-top: 5vh;
    padding-bottom: 5vh;    
}

.review-title {
    display: flex;
    align-items: left; /* Align items vertically in the center */
}

.review-title > img {
    margin-right: 2vw;
}

.review {
    margin-bottom: 20px; /* Add some space between reviews */
}

.review-profile {
    display: flex;
    align-items: center;
    margin-right: 50vw;
    justify-content: space-between;
}

.review-rating {
    margin-left: 2vw;
}
.review-date {
    text-align: right;
    margin-left: auto;
}

.review-content {
    margin-left: 2vw;
    margin-right: 2vw;
}

h2 {
    margin-bottom: 10vh;
}

.write-review-section {
    background-color: #ffffff;
    padding-top: 5vh;
    padding-bottom: 5vh;    
}

.write-review-div {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.form-group {
    margin-bottom: 20px; /* Add space between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 5px; /* Add space between label and input */
    font-weight: bold; /* Make label text bold */
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%; /* Make input, select, and textarea full width */
    padding: 10px; /* Add padding for better readability */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Add rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.form-group textarea {
    height: 150px; /* Make textarea bigger */
    resize: vertical; /* Allow vertical resizing */
}