h1 {
  margin-left: 8vw;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Create a responsive grid with a minimum column width of 200px */
  gap: 20px; /* Space between grid items */
  margin-top: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.book {
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #F8F8ED;
  border-style: solid;
  border-radius: 10%;
  border-color: #E6E6E6;
}
.book > a {
  text-decoration: none;
  transition: ease 0.3s;
}

.book > a:hover {
  text-decoration: underline;
  filter: brightness(0.7);
}

.book img {
  max-width: 200px;
  height: auto;
}



.title {
  text-align: left;
  font-size: 16px;
  margin-left: 3vw;
  font-weight: 700;
  color: black;
}

.author {
  color: grey;
  font-size: 10px;
  text-align: left;
  margin-left: 3vw;
}
