body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.profile {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile h2 {
    margin-top: 0;
}
.profile p {
    line-height: 1.6;
}

.profile-data {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align:center;
    align-items: center;    
}

.friends {
    color: green;
}
.pending {
    color: brown;
}