body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: #F8F8ED;
    color: black;
}
.logo img {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 40px;
    height: auto; 
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar .nav-links a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: text-decoration 0.3s, background-size 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(to right, black 0%, black 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}
.navbar .nav-links a:hover {
    background-size: 100% 2px;
}
.navbar .dropdown {
    position: relative;
}
.navbar .dropdown-content {
    display: none;
    position: absolute;
    top: 140%; /* Adjusted to move the dropdown content slightly lower */
    left: 0;
    background-color: #F8F8ED;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.navbar .dropdown-content a:hover {
    background-color: #ddd;
}
.navbar .dropdown:hover .dropdown-content {
    display: block;
}
.navbar .search-bar {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the items */
    gap: 10px;
}

.search-bar > form {
    display:flex;
}
.navbar .search-bar input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.navbar .account-icon {
    font-size: 24px;
    cursor: pointer;
}

.usericon {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 40px;
    height: auto; 
    transition: filter 0.3s ease; /* Add transition for smooth effect */
}

.usericon:hover {
    filter: brightness(0.7); /* Darken the image on hover */
}

.otherusericon {
    margin-left: 2vw;
    margin-right: 1vw;
    width: 40px;
    height: auto; 
}

.navbar .login-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #F8F8ED;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 18px;
}

.logo-homepage {
    filter: invert(0); /* Initial state: no inversion */
    transition: filter 0.2s ease; /* Smooth transition for filter change */
}

.logo-homepage:hover {
    filter: invert(1); /* Invert colors on hover */
}